<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/x-ico" href="https://raw.githubusercontent.com/Jonathan-Avila/favicon_J/main/favicon.ico"/>
</head>
<title>Morse Code</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
        $(function() {
          $('a#transmission').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/transmission',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>



<div class='container'>
    <p>Press this button when you're about to send a message
   <br>and wait 5 seconds before proceeding.
   <br> Then press it again once your message has been fully sent.</p>
        <form>
            <a href=# id=transmission><button class='btn btn-default'>Transmission About To Begin/Transmission Completed</button></a>
        </form>

</div>

<script type=text/javascript>
        $(function() {
          $('a#dot').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/dot',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>



<div class='container'>
    <h3>Dot</h3>
        <form>
            <a href=# id=dot><button class='btn btn-default'>Dot</button></a>
        </form>

</div>

<script type=text/javascript>
        $(function() {
          $('a#dash').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/dash',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>



<div class='container'>
    <h3>Dash</h3>
        <form>
            <a href=# id=dash><button class='btn btn-default'>Dash</button></a>
        </form>

</div>
